.about {
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 75px 175px 75px 175px;
    width: 1350px;
    height: 520px;
}

.profile {
    float: left;
    height: 520px;
    margin-right: 50px;
    border-radius: 10px;
}

.aboutText {
    /* border: 1px solid red; */
    padding: 25px;
}

.aboutHeader {
    /* border: 1px solid red; */
    margin-top: 0px;
    margin-bottom: 15px;
}

.aboutParagraph {
    margin-top: 15px;
    font-size: 18px;
    color: #757575;
}

/* Resume button */

.resume {
    border-style: none;
    margin-top: 10px;
    width: 284px;
    height: 56px;
    padding: 15px;
    background-color: #171717;
    color: white;
    font-family: aileron, sans-serif;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 #4F84FF;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.resume:hover {
    border-style: none;
    box-shadow: inset 400px 0 0 0 #4F84FF;
    color: white;
    cursor: pointer;
}

/* Skills Section */

.skills{
    margin: 0px auto;
    width: 1350px;
    height: 890px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "uxui tools"
    "graphicDesign softSkills";
}


.skillList {
    font-family: open-sans,sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.uxui, .tools, .graphicDesign, .softSkills {
    padding: 35px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 7px;
    width: 580px;
    height: 345px;
}