/*Font settings for document*/

body {
    font-family: aileron, sans-serif;
    color: #171717;
    margin: 0;
}

p {
    font-family: open-sans, sans-serif;
    font-size: 18px;
    color: #757575;
}

h1 {
    font-size: 64px;
    margin-bottom: 15px;
}

h2 {
    font-size: 48px;
}

@media screen and (max-width:375px) {

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

}

/* Navigation Style */


.hero {
    text-align: center;
    /* border: 1px solid red; */
}

@media screen and (max-width:375px) {
    .hero {
        margin: 0 auto;
        max-width: 100%;
        padding: 15px;
    }
}

/* Portfolio Showcase Hompage */

.work {
    margin-top: 100px;
}

.portfolioImage {
    margin: 0;
    max-width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    transition: .5s ease;
}

.portfolioImage:hover {
    opacity: 0.5;
}

.portfolioImage a {
    display: block;
}

#tripperDesktop {
    display: block;
}

#tripperMobile {
    display: none;
}

#spectrumDesktop {
    display: block;
}

#spectrumMobile {
    display: none;
}

#craDesktop {
    display: block;
}

#craMobile {
    display: none;
}

@media screen and (max-width: 375px) {

    .work {
        margin-top: 10px;
    }

    .portfolioImage {
        width: 372px;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #tripperDesktop {
        display: none;
    }

    #tripperMobile {

        display: block;
    }

    #spectrumDesktop {
        display: none;
    }

    #spectrumMobile {
        display: block;
    }

    #craDesktop {
        display: none;
    }

    #craMobile {
        display: block;
    }
}

/* Footer Style */

footer {
    text-align: center;
    margin-top: 35px;
    padding: 50px;
}

footer ul {
    padding-left: 0px;
    /* border: 1px solid red; */
    list-style-type: none;
}

.footerIcon {
    /* border: 1px solid red; */
    display: inline-block;
    width: 75px;
    height: 75px;
}

.finePrint {
    margin-bottom: 0px;
    font-size: 14px;
}